<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @message.sent_id %>
</p>
<div class="span8">
  <% if @user.messages.any? %>
      <h3>Messages (<%= @user.messages.count %>)</h3>
      <ol class="messages">
        <%= render @message %>
      </ol>
      <%= will_paginate @message %>
  <% end %>
</div>
<%= link_to 'Edit', edit_messages_path(@message) %> |
<%= link_to 'Back', messages_path %>
